src/main/mule/new-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="760daccf-7791-4ae6-9541-0873e4dbb940" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="ahmedinFlow" doc:id="f805230d-2adf-4b47-bd35-76995a6cc418" >
		<http:listener doc:name="Listener" doc:id="99148e26-c904-441c-a645-61effe25250c" config-ref="HTTP_Listener_config" path="/favi"/>
		<set-payload value="hello ahmedin" doc:name="Set Payload" doc:id="3b769e18-9a53-4f2c-b5be-1cc205a3c107" />
		<logger level="INFO" doc:name="Logger" doc:id="9d51bb04-21ce-4831-82d0-7946709900ff" message="#[payload]"/>
	</flow>
</mule>